body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculadora {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}


.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    gap: 10px;
}

#pantalla {
    grid-column: span 4;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #eaeaea;
}

button {
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.reset{
    grid-column: span 4;
    background-color: #ff0000;
}

.reset:hover{
    background-color: #bd0000;
}
